services:
  - type: web
    name: mi-primer-django
    env: python
    buildCommand: |
      python -m pip install --upgrade pip
      pip install -r app/requirements.txt
      python app/manage.py collectstatic --noinput
      python app/manage.py migrate
    startCommand: "gunicorn --chdir app config.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.8
      - key: DJANGO_SETTINGS_MODULE
        value: config.settings
      - key: SECRET_KEY
        generateValue: true
