{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>PrinceSoft - Mi CV</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}assets/" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: iPortfolio - v1.2.0
    * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="{% static 'img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="">Luis Ernesto</a></h1>
            <div class="social-links mt-3 text-center">
                <a href="https://www.facebook.com/luisernesto.valdeslavaut" target="_blank" class="facebook"><i
                        class="bx bxl-facebook"></i></a>
                <a href="https://wa.me/34747479717" target="_blank" class="instagram"><i
                        class="bx bxl-whatsapp"></i></a>
            </div>
        </div>

        <nav class="nav-menu">
            <ul>
                <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
                <li><a href="#about"><i class="bx bx-user"></i> <span>Acerca de</span></a></li>
                <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resumen</span></a></li>
                <li>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'erp:dashboard' %}">
                            <i class="bx bx-user"></i> Bienvenido {{ request.user.username }}
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}">
                            <i class="bx bx-door-open"></i> Login
                        </a>
                    {% endif %}

                </li>

            </ul>
        </nav><!-- .nav-menu -->
        <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>Luis Ernesto</h1>
        <p>Soy <span class="typed" data-typed-items="Diseñador Web, Desarrollador FullStack, Backend, Frontend"></span>
        </p>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>Acerca de mi</h2>
                <p>Ingeniero en automatización industrial altamente cualificado, con
                    experiencia en el sector de las energías renovables, específicamente la
                    energía solar. Uso avanzado de programas informáticos de diseño y
                    simulación. Experto en reparaciones software de cualquier dispositivo
                    electrónico. Con experiencia programando en C++, Lenguaje
                    ensamblador, HTML, CSS, JS, Python, Django.</p>
            </div>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="{% static 'img/profile-img.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Ingeniero &amp; Desarrollador Web.</h3>
                    <p class="font-italic">
                        Mi formación en Ingeniería Automática sentó las bases para posteriormente aprender sobre el
                        Desarrollo Web.
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="icofont-rounded-right"></i> <strong>Nacimiento:</strong> 21 Oct 1998</li>
                                <li><i class="icofont-rounded-right"></i> <strong>Sitio Web:</strong> www.princesoft.es
                                </li>
                                <li><i class="icofont-rounded-right"></i> <strong>Teléfono:</strong> +34 747479718</li>
                                <li><i class="icofont-rounded-right"></i> <strong>Ciudad:</strong> Arona, Tenerife,
                                    España
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="icofont-rounded-right"></i> <strong>Edad:</strong> 24</li>
                                <li><i class="icofont-rounded-right"></i> <strong>Nivel Académico:</strong> Nivel
                                    superior (Grado)
                                </li>
                                <li><i class="icofont-rounded-right"></i> <strong>Email:</strong>
                                    luisernestovaldeslavaut@gmail.com
                                </li>
                                <li><i class="icofont-rounded-right"></i> <strong>Trabajo Actual:</strong>
                                    Freelancer
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        <strong>Aptitudes:</strong>
                        <br>
                        Flexibilidad y capacidad de adaptación, formación continua, habilidad con la electrónica y la
                        informática, experto en la automatización de procesos, conocimientos de Robótica y Domótica,
                        nivel Junior en el Desarrollo Web Full Stack (Backend y Frontend).
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Habilidades</h2>
                <p>Estoy en constante aprendizaje, me adapto fácil a las nuevas tecnologías para aumentar mi nivel cada
                    día más</p>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6" data-aos="fade-up">

                    <div class="progress">
                        <span class="skill">HTML <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">CSS <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">JavaScript <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                    <div class="progress">
                        <span class="skill">Python <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">C++ <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Django <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Resumen</h2>
                <p>Me formé en Ingeniería Automática, pero profundicé en el sector de la Programación, enamorándome
                    posteriormente de este maravilloso mundo del Desarrollo Web.</p>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Datos</h3>
                    <div class="resume-item pb-0">
                        <h4>Luis Ernesto</h4>
                        <p><em>Desarrollador Web Junior con 1+ año de experiencia.</em></p>
                        <ul>
                            <li>Arona, Tenerife</li>
                            <li>+34 747479717</li>
                            <li>luisernestovaldeslavaut@gmail.com</li>
                        </ul>
                    </div>

                    <h3 class="resume-title">Formación</h3>
                    <div class="resume-item">
                        <h4>Grado en Ingeniería Automática</h4>
                        <h5>2017 - 2022</h5>
                        <p><em>Universidad Tecnológica de la Habana CUJAE | La Habana, Cuba</em></p>
                    </div>
                    <div class="resume-item">
                        <h4>Curso de Desarrollo Web | La Habana, Cuba</h4>
                        <h5>2021 - 2022</h5>
                        <p><em>Modalidad Mixta: Presencial y Online</em></p>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Experiencia Profesional</h3>
                    <div class="resume-item">
                        <h4>Informático</h4>
                        <h5>2020 - 2022</h5>
                        <p><em>Taller de Reparaciones SIPE | Cotorro, La Habana, Cuba </em></p>
                        <ul>
                            <li>Mantenimiento técnico para actualización de las versiones de
                                programas.
                            </li>
                            <li>Instalación de sistema operativo en Ordenadores.
                            </li>
                            <li>Reparaciones en cuanto a software de dispositivos Android y IOS.
                            </li>
                            <li>Preparando y llevando a cabo programas para direcciones IP y
                                desarrollando recursos de redes.
                            </li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Ingeniero de automatización</h4>
                        <h5>2022 - 2022</h5>
                        <p><em>Empresa Industria Electrónica | La Habana, Cuba</em></p>
                        <ul>
                            <li>Experiencia instalando sistemas fotovoltaicos y utilizando métodos de
                                seguimiento del punto de máxima potencia para almacenar la energía
                                de los paneles solares en Baterías de GEL y Litio.
                            </li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Desarrollador Web</h4>
                        <h5>2022 - 2023</h5>
                        <p><em>Freelancer | Tenerife, España</em></p>
                        <ul>
                            <li>Experiencia desarrollando la web www.princesoft.es
                            </li>
                            <li>
                                En proceso de
                                desarrollo de una web para la empresa de estadounidense Rainbow pet Mobile Grooming.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>PrinceSoft</span></strong>
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
            Rediseñado por <a href="https://princesoft.es/">PrinceSoft</a>
        </div>
    </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
<script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>