{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col">Nro</th>
        <th scope="col">Nombre</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for item in categories %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>
                <button class="btn btn-outline-warning btn-xs btn-flat"><i class="fas fa-edit"></i></button>
                <button class="btn btn-outline-danger btn-xs btn-flat"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

